@inherits LayoutComponentBase
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage

<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Style="@_appBarBackgroundColorCSS">
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudIconButton OnClick="DrawerToggle" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
            <div class="flex-grow-1"></div>
            <NavLink ActiveClass="d-flex" href="/">
                <SmallTaskForceLogo />
            </NavLink>
            <div class="flex-grow-1"></div>
        </MudHidden>       
        
        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
            <NavLink ActiveClass="d-flex me-4" href="/">
                <SmallTaskForceLogo/>
            </NavLink>
           
        
        <MudSpacer />

        <MudTooltip Duration="1000" Text="@themModeText">
                <MudToggleIconButton ToggledChanged="@OnThemeModeChange" Icon="@Icons.Material.Filled.LightMode"
                                     ToggledIcon="@Icons.Material.Filled.DarkMode"></MudToggleIconButton>
        </MudTooltip>       
        
        </MudHidden>
        
        
    </MudAppBar>
    <MudHidden Breakpoint="Breakpoint.MdAndUp">        
        <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
            <MudDrawerHeader>
                <MudToggleIconButton ToggledChanged="@OnThemeModeChange" Icon="@Icons.Material.Filled.LightMode"
                                     ToggledIcon="@Icons.Material.Filled.DarkMode"></MudToggleIconButton>
            </MudDrawerHeader>
            <NavMenu />
        </MudDrawer>
    </MudHidden>
    
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-16 pt-16">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
